body{
    text-align: center;
    background-color:#F768D3;
    opacity: 100%;
    font-size: 115%;
}
h1 {
    text-align: center;
    opacity: 60%;
    background-color: antiquewhite;
    ;
}

section ol {
    color: rgb(238, 224, 69);
    list-style: none;   

}